<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta charset="utf-8" />
        <title>学生信息管理系统后台</title>
        <meta name="description" content="Restyling jQuery UI Widgets and Elements" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <link rel="stylesheet" href="css/ace-fonts.css" />
        <link rel="stylesheet" href="css/ace.min.css" id="main-ace-style" />
        <script src="js/ace-extra.min.js"></script>
    </head>

    <body class="no-skin">
        <!-- #section:basics/navbar.layout -->
        <div id="navbar" class="navbar navbar-default">

            <div class="navbar-container" id="navbar-container">
                <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>
                </button>

                <div class="navbar-header pull-left">
                    <!-- #section:basics/navbar.layout.brand -->
                    <a href="/admin/manager" class="navbar-brand">
                        <small>
                            <img src="img/sc_logo.png" alt="" />
                        </small>
                    </a>
                </div>

                <!-- #section:basics/navbar.dropdown -->
                <div class="navbar-buttons navbar-header pull-right" role="navigation">
                    <ul class="nav ace-nav">

                        <li class="green">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <i class="ace-icon fa fa-bell icon-animated-vertical"></i>
                                <span class="badge badge-purple">7</span>
                            </a>
                        </li>

                        <!-- #section:basics/navbar.user_menu -->
                        <li class="light-blue">
                            <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                                <img class="nav-user-photo" src="../img/avatars/user.jpg" alt="照片" />
                                <span class="user-info">
                                    欢迎您<br th:text="${admin.adminName}"/>
                                </span>
                            </a>
                        </li>

                        <!-- /section:basics/navbar.user_menu -->
                    </ul>
                </div>

                <!-- /section:basics/navbar.dropdown -->
            </div><!-- /.navbar-container -->
        </div>

        <!-- /section:basics/navbar.layout -->
        <div class="main-container" id="main-container">
            <!-- #section:basics/sidebar -->
            <div id="sidebar" class="sidebar responsive">
                <ul class="nav nav-list">
                    <li class="active">
                        <a href="#">
                            <i class="menu-icon fa fa-delicious"></i>
                            <span class="menu-text"> 学生信息管理系统 </span>
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-user"></i>

                            <span class="menu-text">
                                用户基本信息管理
                                <!-- /section:basics/sidebar.layout.badge -->
                            </span>

                            <b class="arrow fa fa-angle-down"></b>
                        </a>
                        <b class="arrow"></b>
                        <ul class="submenu">
                            <li class="">
                                <a href="/studentAll">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    学生基本信息管理
                                </a>

                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="/teacherAll">
                                    <i class="menu-icon fa fa-caret-right"></i>
                                    教师基本信息管理
                                </a>

                                <b class="arrow"></b>
                            </li>

                        </ul>
                    </li>
                    <li class="">
                        <a href="/courseAll">
                            <i class="menu-icon fa fa-pencil-square-o"></i>
                            <span class="menu-text"> 课程管理 </span>
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/admin">
                            <i class="menu-icon fa fa-outdent"></i>
                            <span class="menu-text"> 退出登陆 </span>
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul><!-- /.nav-list -->

                <!-- #section:basics/sidebar.layout.minimize -->
                <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                    <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
                </div>

            </div>

            <!-- /section:basics/sidebar -->
            <div class="main-content">
                
                <div class="breadcrumbs" id="breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <i class="ace-icon fa fa-home home-icon"></i>
                            <a href="#">用户基本信息管理</a>
                        </li>
                    </ul><!-- /.breadcrumb -->

                    <!-- #section:basics/content.searchbox -->
                    <div class="nav-search" id="nav-search">
                        <form class="form-search">
                            <span class="input-icon">
                                <label for="nav-search-input"></label><input type="text" placeholder="请输入关键字 ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                                <i class="ace-icon fa fa-search nav-search-icon"></i>
                            </span>
                        </form>
                    </div><!-- /.nav-search -->
                </div>
                <div class="page-content">
                    
                    <br /><br /><br /><br /><br /><br /><br /><br />
                    <hr />
                    <div style="text-align: center;"><h1>亲爱的 <b th:text="${admin.adminName}"></b> ，欢迎您使用学生信息管理系统</h1></div>
                    <hr />
                </div><!-- /.page-content -->

            </div><!-- /.main-content -->

            <div class="footer">
                <div class="footer-inner">
                    <!-- #section:basics/footer -->
                    <div class="footer-content">
                        <span class="bigger-120">
                            版权所有&copy;<a href="https://www.xijing.edu.cn/" target="_blank">西京学院</a>
                        </span>
                    </div>

                    <!-- /section:basics/footer -->
                </div>
            </div>

            <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
                <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
            </a>
        </div><!-- /.main-container -->

        <!-- basic scripts -->

        <script src='js/jquery.min.js'></script>
        <script src="js/jquery.mobile.custom.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/ace-elements.min.js"></script>
        <script src="js/ace.min.js"></script>

    </body>
</html>
