<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <meta charset="utf-8"/>
    <title>学生信息管理系统</title>
    <meta content="Restyling jQuery UI Widgets and Elements" name="description"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport"/>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/font-awesome.min.css" rel="stylesheet"/>
    <link href="css/ace-fonts.css" rel="stylesheet"/>
    <link href="css/ace.min.css" id="main-ace-style" rel="stylesheet"/>
    <script src="js/ace-extra.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.mobile.custom.min.js"></script>
    <script src="js/ace-elements.min.js"></script>
    <script src="js/ace.min.js"></script>
    <script src="js/highcharts.js"></script>
</head>

<body class="no-skin">
<!-- #section:basics/navbar.layout -->
<div class="navbar navbar-default" id="navbar">

    <div class="navbar-container" id="navbar-container">
        <button class="navbar-toggle menu-toggler pull-left" id="menu-toggler" type="button">
            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>
        </button>

        <div class="navbar-header pull-left">
            <!-- #section:basics/navbar.layout.brand -->
            <a class="navbar-brand" href="#">
                <small>
                    <img alt="" src="img/sc_logo.png"/>
                </small>
            </a>
        </div>

        <!-- #section:basics/navbar.dropdown -->
        <div class="navbar-buttons navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">

                <li class="green">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="ace-icon fa fa-bell icon-animated-vertical"></i>
                        <span class="badge badge-purple">7</span>
                    </a>
                </li>

                <!-- #section:basics/navbar.user_menu -->
                <li class="light-blue">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <img alt="照片" class="nav-user-photo" src="img/avatars/user.jpg"/>
                        <span class="user-info">
									欢迎您<br th:text="${teacher.name}"/>
								</span>
                    </a>
                </li>

                <!-- /section:basics/navbar.user_menu -->
            </ul>
        </div>

        <!-- /section:basics/navbar.dropdown -->
    </div><!-- /.navbar-container -->
</div>

<!-- /section:basics/navbar.layout -->
<div class="main-container" id="main-container">

    <!-- #section:basics/sidebar -->
    <div class="sidebar responsive" id="sidebar">
		<ul class="nav nav-list">
			<li class="active">
				<a href="#">
					<i class="menu-icon fa fa-delicious"></i>
					<span class="menu-text"> 学生信息管理系统 </span>
				</a>
				<b class="arrow"></b>
			</li>
			<li class="">
				<a href="#" class="dropdown-toggle">
					<i class="menu-icon fa fa-user"></i>
					<span class="menu-text">
								基本信息
						<!-- /section:basics/sidebar.layout.badge -->
							</span>
					<b class="arrow fa fa-angle-down"></b>
				</a>
				<b class="arrow"></b>
				<ul class="submenu">
					<li class="">
						<a th:href="@{/teacherFindByIdFromTeacher?teacherId=}+${teacher.teacherId}">
							<i class="menu-icon fa fa-caret-right"></i>
							信息查看
						</a>
						<b class="arrow"></b>
					</li>
					<li class="">
						<a th:href="@{/teacherUpdatePwd?teacherId=}+${teacher.teacherId}">
							<i class="menu-icon fa fa-caret-right"></i>
							密码修改
						</a>
						<b class="arrow"></b>
					</li>
				</ul>
			</li>
			<li class="active">
				<a th:href="@{/teacherLookGrade?teacherId=}+${teacher.teacherId}">
					<i class="menu-icon fa fa-pencil-square-o"></i>
					<span class="menu-text"> 成绩管理 </span>
				</a>
				<b class="arrow"></b>
			</li>
			<li class="">
				<a th:href="#">
					<i class="menu-icon fa fa-bar-chart-o"></i>
					<span class="menu-text"> 成绩分析 </span>
				</a>
				<b class="arrow"></b>
			</li>
			<li class="">
				<a th:href="@{/userLogin}">
					<i class="menu-icon fa fa-outdent"></i>
					<span class="menu-text"> 退出登陆 </span>
				</a>
				<b class="arrow"></b>
			</li>
		</ul><!-- /.nav-list -->
        <!-- #section:basics/sidebar.layout.minimize -->
        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left"
               data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>
    </div>
    <!-- /section:basics/sidebar -->
    <div class="main-content">
        <!-- #section:basics/content.breadcrumbs -->
        <div class="breadcrumbs" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="#">学生信息管理系统</a>
                </li>
                <li>
                    <a href="javascript:void(0)">评教结果</a>
                </li>
                <li>
                    <a href="javascript:void(0)">师生评教结果</a>
                </li>
            </ul><!-- /.breadcrumb -->
            <!-- #section:basics/content.searchbox -->
            <div class="nav-search" id="nav-search">
                <form class="form-search">
							<span class="input-icon">
								<input autocomplete="off" class="nav-search-input" id="nav-search-input"
                                       placeholder="请输入关键字 ..." type="text"/>
								<i class="ace-icon fa fa-search nav-search-icon"></i>
							</span>
                </form>
            </div><!-- /.nav-search -->
        </div>
        <!-- /section:basics/content.breadcrumbs -->
        <div class="page-content">
            <div class="chart" id="chart" style="width: 900px; height: 500px; margin: 0 auto"></div>
        </div><!-- /.page-content -->
    </div><!-- /.main-content -->

    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div class="footer-content">
						<span class="bigger-120">
							版权所有&copy;<a href="https://www.xijing.edu.cn/" target="_blank">西安石油大学</a>
						</span>
            </div>
        </div>
    </div>

    <a class="btn-scroll-up btn btn-sm btn-inverse" href="#" id="btn-scroll-up">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->
<script th:inline="javascript">
    /*<![CDATA[*/

    $(document).ready(function () {
        //var teacherName = /*[[${teacher.name}]]*/ null;
        //alert(teacherName);

        Highcharts.chart('chart', {
            chart: {
                type: 'column'
            },
            title: {
                text: '师生评教结果统计图'
            },
            subtitle: {
                text: 'Result of Comment'
            },
            xAxis: {
                categories: ['1.教学勤勉热忱，能按时上下课，不擅自停课，调课',
                    '2.上课能严格要求，认真辅导答疑，及时批改作业',
                    '3.平易近人，能虚心听取学生的意见和建议并及时改进工作',
                    '4.讲课有一定深度，有新意，给我留下了深刻的印象',
                    '5.思路清晰，概念准确，重点难点突出',
                    '6.能理论联系实际，及时介绍学科发展动态',
                    '7.本课程教材质量好，适合教学要求',
                    '8.语言清晰流畅，板书设计合理，字迹工整',
                    '9.能启迪学生思维，引导学生掌握学习方法和研究方法',
                    '10.注意因材施教，注重学生的个性发展和创新意识的培养',
                    '11.恰当运用现代化辅助教学手段提高教学效果',
                    '12.能有效调节课堂信息，调动学生的学习积极性',
                    '13.总体来说，这门课的老师很称职，学习这门课收获很大'],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: '等级票数 (张)'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} 张</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.1,
                    borderWidth: 0
                }
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'A：满意',
                data: /*[[${dataA}]]*/ []
            }, {
                name: 'B：比较满意',
                data: /*[[${dataB}]]*/ []
            }, {
                name: 'C：尚可',
                data: /*[[${dataC}]]*/ []
            }, {
                name: 'D：不满意',
                data: /*[[${dataD}]]*/ []
            }],
        })
        // var json = {};
        // json.chart = chart;
        // json.title = title;
        // json.subtitle = subtitle;
        // json.tooltip = tooltip;
        // json.xAxis = xAxis;
        // json.yAxis = yAxis;
        // json.series = series;
        // json.plotOptions = plotOptions;
        // json.credits = credits;
        // $("#chart").highcharts(json).show();
    });
    /*]]>*/
</script>
</body>
</html>
